@import 'normalize';
@import 'nav-bar-mobile';
@import 'nav-bar-desktop';
@import 'home-mobile';
@import 'home-desktop';
@import 'font-awesome';
@import 'footer-mobile';
@import 'footer-desktop';
@import 'about-us-mobile';
@import 'about-us-desktop';
@import 'room-list-mobile';
@import 'room-list-desktop';
@import 'room-offers-desktop';
@import 'room-details-mobile';
@import 'room-details-desktop';
@import 'contact-mobile';
@import 'contact-desktop';

html,
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: #ffffff 0% 0% no-repeat padding-box;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: $modern-font;
}
