$elegant-font: 'OldStandardTT-Regular', serif;
$modern-font: $modern-font;
$modern-font-bold: 'Archivo-Bold', sans-serif;
$miranda-golden: #bead8e;
$miranda-grey: #777777;
$miranda-black: #222222;

.ultimate-main {
  height: 150px;
  
  color: white;
  .ultimate-header {
    display: block;
    font-size: 10px;
    padding-top: 50px;
    padding-left: 30px;
  }
  .ultimate-main-text {
    width: 65%;
    padding-top: 0;
    padding-left: 30px;
  }
}

.room-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: $miranda-black;
}
.room-list-card {
  .room-list-image {
    max-width: 100%;
    object-fit: cover;
  }
  .room-icon-bar {
    max-width: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #8a8a8a0a;
  }
  .room-list-card-content {
    display: flex;
    margin: 10px 5px;
    .room-list-card-information {
      width: 70%;
      margin: 20px 5px 10px;
      .section-header {
        display: none;
      }
      .room-list-card-title {
        margin-bottom: 10px;
        font-family: $elegant-font;
        font-size: 18px;
      }
      .room-list-card-text {
        color: $miranda-grey;
        font-size: 12px;
        line-height: 18px;
      }
      .room-offer-book-button {
        display: none;
      }
    }
    .room-list-card-booking {
      text-align: center;
      margin-right: 5px;
      .room-list-card-price {
        display: flex;
        align-items: flex-end;
        margin-bottom: 25px;
        .room-list-price-number {
          font-size: 25px;
          font-weight: 700;
          color: $miranda-gold;
        }
        .room-list-price-night {
          font-size: 16px;
          font-weight: 700;
          color: $miranda-gold;
        }
      }
      .room-list-card-booking-text {
        font-weight: 700;
        color: #bdbdbd;
      }
      .room-offers-benefits-list {
        display: none;
      }
    }
  }
}
.popular-rooms-section {
  display: none;
}
